name: Bump version and release

on:
  workflow_dispatch:
    inputs:
      package:
        description: >-
          The package to deploy.
          Binding packages are named `rf24-<lang>` for simplicity,
          even if the actual deployed package name is different.
        type: choice
        required: true
        options:
          - 'rf24-py'
          - 'rf24-node'
          - 'rf24-rs'
          - 'rf24ble-rs'
          # - 'rf24network-rs'
          # - 'rf24mesh-rs'
      bump-component:
        description: The semantic version component to increase by 1.
        type: choice
        default: 'patch'
        required: true
        options:
          - 'major'
          - 'minor'
          - 'patch'

run-name: Deploying ${{ inputs.package }}

permissions: {}
# BUMP_N_RELEASE token needs the following permissions:
#   contents: write
#   pull-requests: read

jobs:
  release-version-bump:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.BUMP_N_RELEASE }}
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: true # needed for `git push`

      - run: rustup update --no-self-update

      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@ea60fcf749c6a52a729e0eaabb5eb33391d44823 # v1.16.4
      - name: Install git-cliff and nushell
        run: cargo binstall -y git-cliff nu@${NU_SHELL_VERSION}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NU_SHELL_VERSION: ${{ vars.NU_SHELL_VERSION || '*' }}
      - name: Install cargo-edit
        run: >-
          cargo install --locked
          --no-default-features
          --features set-version
          cargo-edit

      - uses: actions/setup-node@v6
        if: inputs.package == 'rf24-node'
        with:
          node-version: 24.x
      - run: yarn install
        if: inputs.package == 'rf24-node'

      - name: Bump ${{ inputs.package }}
        env:
          GITHUB_TOKEN: ${{ secrets.BUMP_N_RELEASE }}
        run: >-
          nu .github/workflows/bump-n-release.nu
          ${{ inputs.package }}
          ${{ inputs.bump-component }}
