name: Docs

on:
  push:
    branches: [main]
    paths:
      - docs/**
      - crates/rf24-rs/**
      - '**/*.md'
      - .github/workflows/docs.yml
  pull_request:
    branches: [main]
    paths:
      - docs/**
      - crates/rf24-rs/**
      - '**/*.md'
      - .github/workflows/docs.yml

permissions: {}

jobs:
  supplemental:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          enable-cache: true
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: yarn
      - run: yarn install
      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@7691a5b29cda4f5499b819e5618012ba4b6c3334 # v1.17.5
      - name: Install nur
        run: cargo binstall -y nur
      - run: nur docs build
      - name: Save docs build as artifact
        uses: actions/upload-artifact@v6
        with:
          path: docs/site
          name: supplemental-docs

  api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Setup Rust
        run: rustup update --no-self-update
      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@7691a5b29cda4f5499b819e5618012ba4b6c3334 # v1.17.5
      - name: Install nur
        run: cargo binstall -y nur
      - name: Cache deps
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: cargo-docs-${{ hashFiles('crates/*/src/**', 'crates/**/Cargo.toml') }}
      - run: nur docs rs
      - name: save docs as artifact
        uses: actions/upload-artifact@v6
        with:
          name: api-docs
          path: target/doc
